<div id="content">
    <div id="content-header">
        <h1>Dashboard</h1>
    </div>
    <div id="breadcrumb">
        <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="/dashboard" class="current">Dashboard</a>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-eye-open"></i>
                        </span>
                        <h5>Google rising trends</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Keyword</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for keyword in google_keywords %}
                                <tr><td>{{ keyword.value }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-eye-open"></i>
                        </span>
                        <h5>Twitter trends</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Keyword</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for keyword in twitter_keywords %}
                                <tr><td>{{ keyword.value }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-eye-open"></i>
                        </span>
                        <h5>ActiveCitizen users' keywords</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Keyword</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for keyword in user_keywords %}
                                <tr><td>{{ keyword.search_string }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% block footer_base %}
            {% include "_footer.html" %}
        {% endblock %}
    </div>
</div>
