{% if user.is_authenticated %}
        var updateList = function() {
            var callback = function(data) {
                SearchStrings = $.parseJSON(data.strings);
                if (SearchStrings.length == 0) {
                    SearchStrings.push('--nothing here yet--');
                }
                var sel = $("#string-list").get(0);
                sel.options.length = 0;
                for (var i = 0; i< SearchStrings.length; ++i) {
                    sel.options.add(new Option(SearchStrings[i], SearchStrings[i]));
                }
            };
            Dajaxice.account.get_search_strings(callback);
        };

        updateList();
        var $output_wordcloud = $('#wordcloud_div');
        var $output_graphing = $('#igraph_graph');
        var $output_overall = $('#overall_div');
        var $output_sentiment = $('#sentiment_div');
		// Date pickers
        $('#dp1').datepicker({format: 'yyyy-mm-dd'});
		$('#dp2').datepicker({format: 'yyyy-mm-dd'});
        var showLoading = function() {
		    $("#submit-status").html("<b> Status:</b> Loading...");
			$("#wordcloud_div > img").show();
			$("#overall_div > img").show();
			$("#igraph_div > img").show();
			$("#sentiment_div > img").show();
			$("#wordcloud_div > p").remove();
			$("#overall_div > p").remove();
			$("#igraph_graph > p").remove();
			$("#sentiment_div > p").remove();
			$("#wordcloud_graph").remove();
			$("#overall_graph").remove();
			$("#igraph_graph").html("");
			$("#sentiment_graph").remove();
		}
        var hideLoading = function() {
		    $("#submit-status").html("");
			$("#wordcloud_div > img").hide();
			$("#overall_div > img").hide();
			$("#igraph_div > img").hide();
			$("#sentiment_div > img").hide();
		}

        $("#submit-to-server-btn").click(function(event){
            event.preventDefault();
            Inputs.startDate = $("#dp1").val();
            Inputs.endDate = $("#dp2").val();
            Inputs.searchString = $("#string-list").find(":selected").val();

            var validate = function(inputs) {
                var message = "", success = true;
                if (!/\d{4}-\d{1,2}-\d{1,2}/.test(inputs.startDate)) {
                    success = false;
                    message = "Start date is invalid";
                }
                if (!/\d{4}-\d{1,2}-\d{1,2}/.test(inputs.endDate)) {
                    success = false;
                    message = "End date is invalid";
                }
                if (inputs.startDate == inputs.endDate) {
                    success = false;
                    message = "Start date and end date must be different";
                }
                if (Inputs.searchString == "--nothing here yet--") {
                    success = false;
                    message = "No search string configured";
                }
                return {success: success, message: message};
            }
            var valid = validate(Inputs);
            if (!valid.success) {
                $("#alert-container").append('<div class="alert fade in alert-error"> <a data-dismiss="alert" href="#" class="close">×</a>' + valid.message + '</div>');
                return;
            }
            showLoading();
            var error = function(e) {
                $("#submit-status").html("<b>Status:</b> " + "Error " + e.deployr.response.errorCode + ": " + e.deployr.response.error);
				console.log("Error " + e.deployr.response.errorCode + ": " + e.deployr.response.error);
            };
			var errorFunc = function(outputNode) {
				return function(e) {
					console.log(outputNode);
					outputNode.children("img").hide();
					outputNode.prepend("<p>" + "Error " + e.deployr.response.errorCode + ": " + e.deployr.response.error + "</p>");
					console.log("Error " + e.deployr.response.errorCode + ": " + e.deployr.response.error);
				};
			};

            var logIn = function(username, password, callbackFunc) {
                if (window.project) { callbackFunc(); return; }

                R.DeployR.init({
                    events: {
                        // -- close open project and log out on browser close --
                        unload: {
                            disableautosave: true,
                            projecttcookie: '',
                            space: true,
                            dropdirectory: true,
                            drophistory: true,
                            flushhistory: true
                        }
                    }
                });

                var logInSuccess = function(response) {
                    var callback = {
                        scope: this,
                        success: function(r) {
                            window.project = r.deployr.response.project.project;
                            callbackFunc();
                        },
                        failure: error
                    };
					console.log("Successfully logged in!");
                    R.DeployR.projectCreate({}, callback);
                };

                var loginCallback = { success: logInSuccess, failure: error, scope: this };
				//R.DeployR.userLogout({}, function() {});
                R.DeployR.userLogin({ username: username, password: password, disableautosave: true}, loginCallback);
            };

            var executeCode = function(code) {
                showLoading();

                var complete = function(result) {
                    var output = result.deployr.response.execution.console;
                    $output.text(output.replace(/\n/g, '&ltbr&gt'));

                    $output.text(output);
                };

                var callback = {
                    success: complete,
                    failure: error,
                    scope: this
                };

                var codeConfig = {
                    project: window.project, code: code
                };

                R.DeployR.projectExecuteCode(codeConfig, callback);
            };

            var genericComplete = function(result, scriptName, outputNode) {
                try {
                    var url = result.deployr.response.execution.artifacts[0].url;
                } catch (e) {
                    console.log(e.message);
                }
                if (!url) {
                    var output = '<p>' + result.deployr.response.error + '</p>';
                    if (outputNode != null) {
                        outputNode.html(output);
                    }
                    return;
                }
                var output = '<img src="' + url.replace(/localhost/, 'activecitizen.sg') + '">';

                $("#submit-status").html("<b>Status:</b> " + scriptName + " execution done");
                if (outputNode != null) {
                    outputNode.html(output);
                }
                if (result.deployr.response.warnings) {
                    console.log(result.deployr.response.warnings);
                }
            };
            var executeScript = function(scriptName, inputs, robjects, outputNode,
            callbackFunc) {
                complete = genericComplete;
                if (callbackFunc != null) {
                    complete = callbackFunc(scriptName, outputNode);
                }

                var error = function(e) {
                    $("#submit-status").html("<b>Status:</b> " + 'Error: ' + e.deployr.response.error);
                    if (outputNode != null) {
                        outputNode.html('<p>Failed to execute script: ' +  e.deployr.response.error + '</p>');
                    }
                };

                var callback = {
                    success: complete,
                    failure: errorFunc(outputNode),
                    scope: this
                };

                var codeConfig = (robjects) ? {
                    rscript: scriptName,
					robjects: robjects,
                    inputs: inputs
                } : {
                    rscript: scriptName,
                    inputs: inputs
                };

                R.DeployR.repositoryScriptExecute(codeConfig, callback);
            };

			var wordcloudComplete = function(scriptName, outputNode) {
				var zipWordCloudData = function(arr1, arr2) {
					return arr1.map(function(elem, index) {
				        return {"text": elem, "size": arr2[index]};
					});
				};
				return function(result) {
					$("#wordcloud_div > img").hide();
					$("#wordcloud_div > p").remove();
					try {
						var url = result.deployr.response.execution.artifacts[0].url;
					} catch (e) {
						var output = '<p>' + result.deployr.response.error + '</p>';
						if (outputNode != null) {
							outputNode.html(output);
						}
						console.log(e.message);
					}
					$.wordcloud.data = zipWordCloudData(result.deployr.response.workspace.objects[0].value.word.value, result.deployr.response.workspace.objects[0].value.freq.value);
					$.wordcloud.update_wordcloud();

					$("#submit-status").html("<b>Status:</b> " + scriptName + " execution done");
					if (result.deployr.response.warnings) {
						console.log(result.deployr.response.warnings);
					}
				};
			};

            var overallComplete = function(scriptName, outputNode) {
				var zipOverallData = function(arr1, arr2) {
					return arr1.map(function(elem, index) {
				        return {"x": elem, "y": arr2[index]};
					});
				};
                return function(result) {
                    $("#overall_div > img").hide();
                    $("#overall_div > p").remove();
                    $.overall.data = [{
                        "key": "Number of tweets per hour",
                        "values": zipOverallData(result.deployr.response.workspace.objects[0].value.created.value, result.deployr.response.workspace.objects[0].value.V1.value)
                    }];
                    $.overall.updateOverallGraph('#overall_div');

					$("#submit-status").html("<b>Status:</b> " + scriptName + " execution done");
					if (result.deployr.response.warnings) {
						console.log(result.deployr.response.warnings);
					}
                };
            };

            var igraphComplete = function(scriptName, outputNode) {
                return function(result) {
					$("#igraph_div > img").hide();
					$("#igraph_div > p").remove();
					try {
						var url = result.deployr.response.execution.artifacts[0].url;
					} catch (e) {
						console.log(e.message);
					}
					if (!url) {
						var output = '<p>' + result.deployr.response.error + '</p>';
						if (outputNode != null) {
							outputNode.html(output);
						}
						return;
					}
					var output = '<img src="' + url.replace(/localhost/, 'activecitizen.sg') + '">';

					$("#submit-status").html("<b>Status:</b> " + scriptName + " execution done");
					if (outputNode != null) {
						outputNode.html(output);
						outputNode.show();
					}
					if (result.deployr.response.warnings) {
						console.log(result.deployr.response.warnings);
					}
                };
            };

            var sentimentComplete = function(scriptName, outputNode) {
				var zipSentimentData = function(arr1, arr2) {
					return arr1.map(function(elem, index) {
				        return {"x": elem, "y": arr2[index]};
					});
				};
                return function(result) {
                    $("#sentiment_div > img").hide();
                    $("#sentiment_div > p").remove();
                    $.sentiment.data = [{
                        "key": "sentimentGraph",
                        "values": zipSentimentData(result.deployr.response.workspace.objects[0].value.created.value, result.deployr.response.workspace.objects[0].value.smoothed.value)
                    }];
                    $.sentiment.updateSentimentGraph('#sentiment_div');

					$("#submit-status").html("<b>Status:</b> " + scriptName + " execution done");
					if (result.deployr.response.warnings) {
						console.log(result.deployr.response.warnings);
					}
                };
            };

            logIn('testuser', 'secret', function() {
                var generateGraphs = function() {
                    executeScript('OverallUsersScript',
                      [R.RDataFactory.createString('searchString', $("#string-list").find(":selected").val()),
                          R.RDataFactory.createString('startDate', $("#dp1").val()),
                          R.RDataFactory.createString('endDate', $("#dp2").val())
                      ], "res", $output_overall, overallComplete);
                    executeScript('WordCloudUsersScript',
                      [R.RDataFactory.createString('searchString', $("#string-list").find(":selected").val()),
                          R.RDataFactory.createString('startDate', $("#dp1").val()),
                          R.RDataFactory.createString('endDate', $("#dp2").val())
                      ], "res", $output_wordcloud, wordcloudComplete);
                    executeScript('IGraphUsersScript',
                      [R.RDataFactory.createString('searchString', $("#string-list").find(":selected").val())], null, $output_graphing, igraphComplete);
                    executeScript('SentimentUsersScript',
                      [R.RDataFactory.createString('searchString', $("#string-list").find(":selected").val()),
                          R.RDataFactory.createString('startDate', $("#dp1").val()),
                          R.RDataFactory.createString('endDate', $("#dp2").val())
                      ], "res", $output_sentiment, sentimentComplete);
                };
                executeScript('InitializeFeed',
                      [R.RDataFactory.createString('searchString', $("#string-list").find(":selected").val())], null, null, generateGraphs);
            });
        });
        $('#notweets-btn').click(function() {
            $('#notweets-btn').disable();
        });
{% endif %}
