{% load util_extras %}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <li class="{% navactive request 'dashboard' %}"><a href="{% url 'dashboard' %}"><i class="icon icon-home"></i><span>Dashboard</span></a></li>
        <li class="{% navactive request 'graphs' %}"><a href="{% url 'graphs' %}"><i class="icon icon-signal"></i><span>Social media graphs</span></a></li>
    </ul>
</div>
