{% extends "banner_base.html" %}

{% block body_base %}
<div class="container">
<div class="row">
<div class="span12">

    <center><h1>PRIVACY STATEMENT</h1></center>

<h2>Introduction</h2>
<p>Your privacy is important to <em>ActiveCitizen.SG</em>.  This privacy statement provides information about the personal information that <em>ActiveCitizen.SG</em> collects, and the ways in which <em>ActiveCitizen.SG</em> uses that personal information.</p>

<h2>Personal information collection</h2>

<p><em>ActiveCitizen.SG</em> may collect and use the following kinds of personal information: </p>

<ul>
<li>Information about your use of this website including IP addresses; </li>
<li>Information about transactions carried out over this website including search terms you have entered; </li>
</ul>

<h2>Using personal information</h2>

<p><em>ActiveCitizen.SG</em> may use your personal information to: </p>

<ul>
<li>Personalize the website for you;</li>
<li>Enable your access to and use of the website services;</li>
</ul>

<p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, <em>ActiveCitizen.SG</em> may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>

<h2>Securing your data</h2>

<p><em>ActiveCitizen.SG</em> will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. </p>

<p><em>ActiveCitizen.SG</em> will store all the personal information you provide on its secure servers. </p>

<h2>Updating this statement</h2>

<p><em>ActiveCitizen.SG</em> may update this privacy policy by posting a new version on this website.  </p>

<p>You should check this page occasionally to ensure you are familiar with any changes.  </p>

<h2>Credit</h2>

<p>This document was created using a Contractology template available at <a href="http://www.freenetlaw.com">http://www.freenetlaw.com</a>.</p>
</div></div>
</div>
{% endblock %}

{% block footer_base %}
<center>{% include "_footer.html" %}</center>
{% endblock %}

