{% extends "banner_base.html" %}

{% block body_base %}
<div class="container">
<div class="row">
<div class="span12">
    <center><h1>TERMS AND CONDITIONS</h1></center>

<h2>Introduction</h2>

<p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.  If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>

<p>This website uses cookies.  By using this website and agreeing to these terms and conditions, you consent to our <em>ActiveCitizen.SG</em> ''s use of cookies in accordance with the terms of <em>ActiveCitizen.SG</em> privacy policy.</p>

<h2>License to use website</h2>

<p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

<p>You must not:</p>

<ul>
<li>republish material from this website (including republication on another website);</li>
<li>sell, rent or sub-license material from the website;</li>
<li>show any material from the website in public;</li>
<li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
<li>edit or otherwise modify any material on the website. </li>
</ul>

<h2>Acceptable use</h2>

<p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

<p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>

<p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without <em>ActiveCitizen.SG</em>’s express written consent.</p>

<p>You must not use this website for any purposes related to marketing without <em>ActiveCitizen.SG</em>’s express written consent. </p>

<h2>No warranties</h2>

<p>This website is provided “as is” without any representations or warranties, express or implied.  <em>ActiveCitizen.SG</em> makes no representations or warranties in relation to this website or the information and materials provided on this website.  </p>

<p>Without prejudice to the generality of the foregoing paragraph, <em>ActiveCitizen.SG</em> does not warrant that:</p>

<ul>
<li>this website will be constantly available, or available at all; or</li>
<li>the information on this website is complete, true, accurate or non-misleading.</li>
</ul>

<p>Nothing on this website constitutes, or is meant to constitute, advice of any kind.  </p>

<h2>Limitations of liability</h2>

<p><em>ActiveCitizen.SG</em> will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>

<ul>
<li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
<li>for any indirect, special or consequential loss; or</li>
<li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
</ul>

<p>These limitations of liability apply even if <em>ActiveCitizen.SG</em> has been expressly advised of the potential loss.</p>

<h2>Exceptions</h2>

<p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit <em>ActiveCitizen.SG</em>’s liability in respect of any:</p>

<ul>
<li>death or personal injury caused by <em>ActiveCitizen.SG</em>’s negligence;</li>
<li>fraud or fraudulent misrepresentation on the part of <em>ActiveCitizen.SG</em>; or</li>
<li>matter which it would be illegal or unlawful for <em>ActiveCitizen.SG</em> to exclude or limit, or to attempt or purport to exclude or limit, its liability. </li>
</ul>

<h2>Reasonableness</h2>

<p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.  </p>

<p>If you do not think they are reasonable, you must not use this website.</p>

<h2>Other parties</h2>

<p>You accept that, as a limited liability entity, <em>ActiveCitizen.SG</em> owners 1degreenorth Pte Ltd has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against <em>ActiveCitizen.SG</em> and 1degreenorth Pte Ltd and officers or employees in respect of any losses you suffer in connection with the website.</p>

<p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect <em>ActiveCitizen.SG</em>’s and 1degreenorth Pte Ltd officers, employees, agents, subsidiaries, successors, assigns and sub-contractors. </p>

<h2>Unenforceable provisions</h2>

<p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>

<h2>Breaches of these terms and conditions</h2>

<p>Without prejudice to <em>ActiveCitizen.SG</em>’s other rights under these terms and conditions, if you breach these terms and conditions in any way, <em>ActiveCitizen.SG</em> may take such action as <em>ActiveCitizen.SG</em> deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>

<h2>Variation</h2>

<p><em>ActiveCitizen.SG</em> may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.</p>

<h2>Assignment</h2>

<p><em>ActiveCitizen.SG</em> may transfer, sub-contract or otherwise deal with <em>ActiveCitizen.SG</em>’s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>

<p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.  </p>

<h2>Severability</h2>

<p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. </p>

<h2>Entire agreement</h2>

<p>These terms and conditions constitute the entire agreement between you and <em>ActiveCitizen.SG</em> in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>

<h2>Law and jurisdiction</h2>

<p>These terms and conditions will be governed by and construed in accordance with Singapore Law, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of Republic of Singapore.</p>

<h2><em>ActiveCitizen.SG</em> details</h2>

<p><em>ActiveCitizen.SG</em>, ActiveCitizenry.sg, ActiveCitizen.com.sg are domain names owned by 1degreenorth Pte Ltd. 1degreenorth Pte Ltd is incorporated in Singapore.</p>

<h2>Credit</h2>

<p>This document was created using a Contractology template available at <a href="http://www.freenetlaw.com">http://www.freenetlaw.com</a>.</p>
</div></div></div>

{% endblock %}

{% block footer_base %}
<center>{% include "_footer.html" %}</center>
{% endblock %}

