.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 0;
}
body {
  padding-top: 0px;
  margin-top: 0px;
  position: static;
}
div.wordcloud {
    height: 450px;
	line-height: 450px;
	position: relative;
}
svg.wordcloud {
    width: 450px;
    height: 450px;
    display: block;
    margin: auto;
}
img.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	display: none;
}
#relation_graph .link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#relation_graph .node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

#relation_graph text {
  font: 10px sans-serif;
  pointer-events: none;
}

